
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

*img:hover{
  transform: scale(1.2);
}

*nav{
  min-width: 100px;
  scroll-behavior: smooth;
  //background-color: transparent;
}

.ul{
  list-style-type: none;
  overflow: hidden;
}

.navbar-toggler{
  border-color: darkgray;
}

.nav-link{
  font-weight: bold;
}


