
  <div class="fixed-bottom">
    <nav class="navbar navbar-light">
      <a href="https://www.facebook.com/" target="_blank"><img src="assets\fb.png" alt="fb" title="Facebook" style="margin-right: 5px;"></a>
      <a href="https://www.instagram.com/?hl=en" target="_blank"><img src="assets\instagram.jpg" alt="instagram" title="Instagram" style="margin-right: 5px;"></a>
      <a href="https://in.linkedin.com/" target="_blank"><img src="assets\linkedin.png" alt="linked.in" title="LinkedIn" style="margin-right: 5px;"></a>
      <a href="https://twitter.com/login" target="_blank"><img src="assets\twitter.png" alt="twitter" title="Twitter"></a>
      </nav>
</div>