<div class="main">
  <div class="row d-flex">
    <div class="col-sm-6">
      <h4 style=" padding-top: 10vh; padding-left: 15vh;">Blog:</h4>
    </div>
    <div class="col-sm-6">
      <div class="car" style="padding-top: 30vh;">
        <a class="nav-link" routerLink="/screenshots">
          <img class="img-fluid" src="assets/cargroup.jpg" alt="cars" width="304" height="236">
        </a>
        <label style="padding-left: 30px;">Check out the screenshots of my project</label>
      </div>
    </div>
  </div>
</div>
