
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <img class="img-responsive img-fluid" src="assets/aboutdp.jpg" style="width: initial; height: 450px; display: block;" alt="profile">
        </div>
        <div class="col-sm-7">
        <label class="title" style="font-family:verdana; padding-left: 40px;"><h3>A little bit about me...</h3></label>    
        
          <pre class="para" style="font-family:verdana; color: white;">
            I am Sujit Prajapati. I completed my graduation 
        last year. Then I worked for 6 months in HERE 
        Technologies as Spatial Data Analyst. I am self- 
        motivated, responsible and hard-working person. I
        am a mature team worker. I am able to work well both
        in a team environment as well as using own initiative. 
        </pre>

        <div class="text-right"> 
          <button type="button" class="btn btn-sm btn-outline-primary py-0" title="Contact Me"><a class="nav-link" (click)="scrollTo('contactme')"><i class="fa fa-phone-square" aria-hidden="true" style="padding-right: 4px;"></i><span><b>Contact Me</b></span></a></button> 
          <button type="button" class="btn btn-sm btn-outline-primary py-0" title="View Resume"><a class="nav-link" routerLink='/assets/sujit_resume.pdf' target="_blank"><i class="fa fa-file-text" aria-hidden="true" style="padding-right: 4px;"></i><span><b>View Resume</b></span></a></button> 
        </div>  
        </div>    
      </div>
    </div>     
  </div>