<div class="main">
  <div class="col-12">
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <a href="https://www.w3schools.com/html/html_intro.asp" target = "_blank"><img src="assets\html.jpg" alt="HTML Slide" class="image" title="HTML"></a>
          </div>
          <div class="carousel-caption">
            <h3>HTML</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <a href="https://www.w3schools.com/css/css_intro.asp" target = "_blank"><img src="assets\CSS.png" alt="CSS Slide" class="image" title="CSS"></a>
          </div>
          <div class="carousel-caption">
            <h3>CSS</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <a href="https://www.w3schools.com/js/js_intro.asp" target = "_blank"><img src="assets\js.png" alt="JavaScript Slide" class="image" title="JavaScript"></a>
          </div>
          <div class="carousel-caption">
            <h3>JavaScript</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <a href="https://www.javatpoint.com/angular-7-introduction" target = "_blank"><img src="assets\angular.png" alt="Angular Slide" class="image" title="Angular"></a>
          </div>
          <div class="carousel-caption">
            <h3>Angular</h3>
          </div>
        </ng-template>
    </ngb-carousel>
      
</div>
</div>