
.main{
  background-size: cover;
  width: 100%;
  height: auto;
  background-color: #323232;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

*label:hover{
  color: blue;
}

.p-2{
  font-weight: bold;
}

.p-2:hover{
  color: blue;
}

.progress{
  width: 20pc;
}

@media(min-width: 360px) and (max-width: 550px) {
    .col-sm-7 h3{
      font-size: 22px;
      padding-left: 10px;
    }
    .p-2{
      font-size: 15px;
    }
    .skill{
      font-size: 20px;
    }
    .col-sm-5{
      padding-top: 20px;
      padding-left: 30px;
    }
    .progress{
      width: 15rem;
    }
}

@media(min-width: 250px) and (max-width: 359px) {
  .col-sm-7 h3{
    font-size: 22px;
    padding-left: 10px;
  }
  .p-2{
    font-size: 15px;
  }
  .skill{
    font-size: 20px;
  }
  .col-sm-5{
    padding-top: 20px;
    padding-left: 30px;
  }
  .progress{
    width: 15rem;
  }
  
}

@media(min-width: 551px) and (max-width: 800px) {
  .col-sm-7 h3{
    font-size: 22px;
    padding-left: 10px;
  }
  .p-2{
    font-size: 15px;
  }
  .skill{
    font-size: 20px;
  }
  .progress{
    width: 15rem;
  }
  
}

@media(min-width: 801px) and (max-width: 1050px) {
  
}