<div class="main">
    <div class="image">
        <div class="container">
            <div class="row" style="padding-top: 50px;">
              <div class="col-sm">
                <div class="card">
                    <img src="assets/homepage.PNG" class="card-img img-fluid" alt="Home Page" title="Home Page">
                    <div class="card-footer">
                        <small class="text-muted">Home Page</small>
                    </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card">
                    <img src="assets/productpage.PNG" class="card-img img-fluid" alt="Product Page" title="Product Page">
                    <div class="card-footer">
                        <small class="text-muted">Product Page</small>
                    </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card">
                    <img src="assets/custdetail.PNG" class="card-img img-fluid" alt="Customer Detail Page" title="Customer Detail Page">
                    <div class="card-footer">
                        <small class="text-muted">Customer Detail Page</small>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <img src="assets/updateproduct.PNG" class="card-img-top" alt="Product Update Page" title="Product Update Page">
                        <div class="card-footer">
                            <small class="text-muted">Product Update Page</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <img src="assets/viewproduct.PNG" class="card-img-top" alt="Prduct View Page" title="Product View Page">
                        <div class="card-footer">
                            <small class="text-muted">Product View Page</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <img src="assets/updatecompany.PNG" class="card-img-top" alt="Compnay Update Page" title="Compnay Update Page">
                        <div class="card-footer">
                            <small class="text-muted">Compnay Update Page</small>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <img src="assets/viewcompany.PNG" class="card-img-top" alt="Company List Page" title="Company List Page">
                        <div class="card-footer">
                            <small class="text-muted">Company List Page</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <img src="assets/orderdetails.PNG" class="card-img-top" alt="Customer's Detail Page" title="Customers Detail Page">
                        <div class="card-footer">
                            <small class="text-muted">Customers Detail Page</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <img src="assets/specification.PNG" class="card-img-top" alt="Customer's Detail Page" title="Customers Detail Page">
                        <div class="card-footer">
                            <small class="text-muted">Specification Page</small>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 col-auto mr-auto">
                    <div class="card">
                        <img src="assets/specification.PNG" class="card-img-top" alt="Customer's Detail Page" title="Customers Detail Page">
                        <div class="card-footer">
                            <small class="text-muted">Specification Page</small>
                        </div>
                    </div>
                </div>
              </div>
          </div>
    </div>
</div>